<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.killi8n.bbs.PostMapper">
	<insert id="create">
		insert into posts (username, title, content) values(#{username}, #{title}, #{content})
	</insert>

	<select id="pagedList" resultType="com.killi8n.bbs.models.Post">
		<![CDATA[
			select * from posts where id > 0 order by id desc, createdAt desc limit #{page}, 10
		]]>
	</select>

	<select id="read" resultType="com.killi8n.bbs.models.Post">
		select * from posts where id = #{id}
	</select>

	<delete id="remove">
		delete from posts where id = #{id}
	</delete>

	<update id="update">
		update posts set title = #{title}, content = #{content}, updatedAt = #{updatedAt} where id = #{id}
	</update>

</mapper>